body {
  background: #eee;
}

#game-canvas:hover {
  cursor: none;
  border-radius: 5px;

}

.controls-div, .description {
  padding: 15px;
  border-radius: 5px;
  width: 230px;
  position: absolute;
  left: 20px;
  top: 90px;
  /* right: ; */
  opacity: 0.9;
  /* background: white; */
  background:#497C7C;
  /* display: inline; */
}

.description {
  left: 250px;
  width: 550px;
  text-align: center;
  display: none;
}
* {
  font-family: 'M PLUS Rounded 1c',
  sans-serif;
  /* text-align: center; */
}
.text {
  position: absolute;
  top: 20px;
  /* left: 250px; */
  left: 15px;
}
body {
  text-align: center;
}

@font-face{
  font-family: 'M Plus';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c) format('woff2');
}