body {
  background: #eee;
}

#game-canvas{
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#game-canvas:hover {
  cursor: none;
}

.controls-div, .description {
  padding: 15px;
  border-radius: 5px;
  width: 230px;
  position: absolute;
  left: 20px;
  top: 90px;
  /* right: ; */
  opacity: 0.9;
  /* background: white; */
  background:#497C7C;
  color: white;
  /* display: inline; */
}
.controls-div{
  display: none;
}

.description {
  left: 250px;
  width: 550px;
  text-align: center;
  display: none;
}
* {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'M PLUS Rounded 1c', */
  /* text-align: center; */
}
.text {
  position: absolute;
  top: 20px;
  left: 15px;
}
body {
  text-align: center;
}
* {
  -webkit-user-select: none;
}
/* canvas font guide */
/* https: //stackoverflow.com/questions/2608022/how-can-i-use-custom-fonts-in-an-html5-canvas-element */
@font-face{
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
}